*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  
body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: url('https://images.unsplash.com/photo-1497197952040-45d5388447e9?ixlib=rb-1.2.1&q=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     /* display: flex;  
     flex-direction: row;   */
    align-items: center;
    justify-content: center;
   
}

.quote {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 120px;
}

.container
{
    
     display: flex;  
    flex-direction:column;  
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.activity
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.idea , .next 
{
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(230, 0, 0), #ffedbca8);
}

.back{
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 625px;
    margin-bottom: 100px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(230, 0, 0), #ffedbca8);
}
.container:hover
{
    box-shadow: 0 10px 10px rgb(230, 0, 0);
}