*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: url('https://images.unsplash.com/photo-1497197952040-45d5388447e9?ixlib=rb-1.2.1&q=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
   
}


.quote {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    margin-top: 8%;
}


.container
{
    
    display: inline-block;  
    flex-direction:column;  
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    height: 200px; 
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 7%; 
    
}

@media (max-width: 960px){
.container
{
    
    display: inline-block;  
    flex-direction:column;  
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 400px;
    height: 200px; 
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 7%; 
    
}
}

.activity
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 30px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.idea  
{
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(230, 0, 0), #ffedbca8);
    margin-left: 30%;
}

.next 
{
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(230, 0, 0), #ffedbca8);
    margin-right: 30%;

}

.idea:hover
{
    box-shadow: 0 10px 10px rgb(230, 0, 0);
}

.next:hover
{
    box-shadow: 0 10px 10px rgb(230, 0, 0);  
}
.container:hover
{
    box-shadow: 0 10px 10px rgb(230, 0, 0);
}